@import url('https://fonts.googleapis.com/css?family=Lobster|Seaweed+Script|Rubik+Mono+One|Gloria+Hallelujah|Patua+One|Stalemate|Emblema+One|Vollkorn|Indie+Flower');

body {
    font-family: 'Vollkorn', sans-serif;
    color: white;
}

h1 {
    max-width: 100%;
}



@font-face{
    font-family: "Noob";
    src: url(../font/cookit/Cookit-Regular.ttf) format("truetype");
}

@font-face{
    font-family: "Noob2";
    src: url(../font/museo/Museo900-Regular.otf);
}


/*

.hero:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/wood2.jpg) no-repeat center center fixed;
    width: 100%;
    height: 100%;
    opacity : 1;
    z-index: -1;
    background-size:auto;
    min-height: 100%;
    min-width: 1024px;
}


*/

.hero {
    background: url(../img/anasayfa.jpg); 
    background-size: 100% 100%; 
   /* background-color: #fff6d9; */
    /*
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-color: #a87878;
}

.red {
    font-family: 'Noob2' , sans-serif; 
    font-size: 2rem;
    font-weight: 500;
    color: #a87878;
    color: white;
}

.head{
    font-family: 'Noob2' , sans-serif; 
    color: #a87878;
    color:white;
    font-size: 5rem;
    margin-top: 3%;
}

.dark{
    color:white;
}

.punch {
    font-family: 'Rubik Mono One', cursive;
    font-size: 6rem; 
    color:white;
}

.punch-down {
    font-family: 'Noob', cursive;
    color: #a87878;
    font-size:5rem; 
}

.redish {
    background: url(../img/wod.jpg); 
    background-size: 100% 100%; 
}

.container ul li .red{

    color: #de5366;
}

.yellowish {
    background: url(../img/wood2.jpg);
}

.grey {
    background: url(../img/wood.png);
}

.mid {
    margin: 5% auto;
}

.section {
    display: flex;
    min-height: 100vh;
}

.image > .image-size {
    width: 75%;
    height: 75%;
    margin: 0 auto;
    
}

.margin-left-img {
    margin-left: 30%;
}



@media (max-width: 1024px){
    .hero-foot {
        display: none;
    }
    .punch {
        font-family: 'Rubik Mono One', sans-serif, cursive;
        font-size: 4rem !important; 
        color:white;
    }
    .margin-bot {
        margin: 0.75rem;
    }

}

@media (max-width: 1215px){
    .punch {
        font-family: 'Rubik Mono One', sans-serif, cursive;
        font-size: 4rem !important; 
        color:white;
    }
}
@media (max-width: 769px){
    .stack {
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
        display: flex;
    }
    .punch {
        font-family: 'Rubik Mono One', sans-serif, cursive;
        font-size: 3rem !important; 
        color:white;
    }

}

#about {
    min-height: auto;
}

.ort {
    justify-content: center;
    margin: auto;
}

#contact {
    min-height: 50vh;
}


#googleMap {
    border: solid 3px #492b2b;
    max-width: 100%;
    height: 300px;
    
}

#footer {
    padding: 3rem 1.5rem;
}


